NativeAndroidApp/UnityClasses/build
UnityProject/androidBuild/unityLibrary/src
UnityProject/androidBuild/unityLibrary/build
UnityProject/androidBuild/launcher
UnityProject2/androidBuild2/launcher
UnityProject2/androidBuild2/unityLibrary/src
UnityProject2/androidBuild2/unityLibrary/build
